@import "variables";

.header-menu{
    gap: 3rem;
    align-items: center;
}

.header{
    padding: 4rem 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    color: $secondary-text;
    font-weight: bolder;
    .container {
        align-items: center;
    }
}

.header-white{
    background-color: white;
    padding: 2rem 0;
    color: $primary-text;
    box-shadow: 0rem .4rem .5rem 0rem rgba(0,0,0,0.13);
}