@use "../../node_modules/@crossfox/css-start/dist/base.min.css";
@import "variables";
@import "base";
@import "header";

/* banner section */
.banner-section {
  background: url('../img/light_sky.jpg') no-repeat center/cover;

  h1 {
    color: $secondary-text;
    font-size: $font-xl;
    margin: 0 auto;
    transform: rotate(-90deg);
    max-width: 70rem;
  }

  &::after {
    content: url('../img/arrow.svg');
    width: 20rem;
    height: 20rem;
    position: absolute;
    transform: rotate(-90deg) translate(-50%, -50%);
    left: 50%;
    bottom: -1rem;
  }
}

.banner-section-container{
  width: 100%;
  padding: 38rem 0 30rem;
  position: relative;
}

.banner-title-name{
  font-weight: 300;
}

.banner-title-surname{
  font-weight: 800;
  font-size: $font-xxl;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

.social{
  svg{
    height: 2rem;
    width: 2rem;
    fill: #fff;
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  gap: 1rem;
}

/* aboutme section */

.aboutme-section{
  color: $primary-text;
  gap: 8rem;
  p{
    text-align: center;
  }
}

.aboutme-container{
  align-items: center;
  gap: 2rem;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.aboutme-cards {
  svg {
    fill: $primary-text;
    height: 10rem;
    width: 10rem;
  }
}




.contact-section{
  color: $primary-text;
  gap: 8rem;
  p{
    text-align: center;
  }
}

.contact-form{
  gap: 6rem;
  input{
    width: 100%;
    border: 0;
    border-bottom: .2rem solid $primary-color;
    padding: 1.5rem;
  }
  input::placeholder{
    color: $primary-text;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  .fx-sb{
    gap: 3rem;
  }
}

#contact-btn {
  background-color: $secondary-text;
  color: $primary-text;
  border: 0.2rem solid $primary-text;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  width: 15rem;
  margin: auto;
  font-weight: 700;
}

.tabs-container {
  gap: 8rem;
}

.tab-content{
  display: none;
  &.active{
    display: grid;
  }
}

.tab-btn{
  background-color: $secondary-text;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
}

.tabs{
  width: 50rem;
  margin: auto
}

.tab-btn.active{
  border-bottom: 0.1rem solid $primary-text;
}

#projects-btn {
  background-color: $secondary-text;
  color: $primary-text;
  border: 0.2rem solid $primary-text;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  width: 20rem;
  margin: auto;
  font-weight: 700;
  text-align: center;
}

.tab-grid {
  grid-template-areas: 
  "area1 area2 area3"
  "area4 area5 area6";
  gap: 2rem 2rem;
  width: 100%;
  img {
    display: block;
    width: 31.5rem;

  }
  div {
   width: 100%;
  }
}
.area1 {
  grid-area: area1;
}
.area2 {
  grid-area: area2;
}
.area3 {
  grid-area: area3;
}

.area4 {
  grid-area: area4;
}

.area5 {
  grid-area: area5;
}

.area6 {
  grid-area: area6;
}

/* skills */
.skills-section{
  background: url("..//img/light_sky.jpg") center/cover no-repeat;
  color: $secondary-text;
  h2{}
 
}

.skill-cards, .footer-cards {
  text-align: center;

}


.progress {
  position: relative;
  height: 16rem;
  width: 16rem;
  cursor: pointer;
}

.progress-circle {
  transform: rotate(-90deg);
}

.progress-circle-back {
  fill: none; 
  stroke: #D2D2D2;
  stroke-width: 0.2rem;
}

.progress-circle-prog {
  fill: none; 
  stroke: $secondary-text;
  stroke-width: 0.2rem;  
  stroke-dasharray: 0 999;    
  stroke-dashoffset: 0;
  transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
  width: 100%;
  position: absolute;
  top: 6rem;
  text-align: center;
  font-size: 2em;
}
 
.skills-section-container
{
  gap: 8rem;
}

.info-section{
  background: url("..//img/light_sky.jpg");
  color: $secondary-text;
  p{text-align: center;}
}

.info-section-text{
  font-size: $font-xl;
  letter-spacing: 0.1em;
}

.info-section-container{
  gap: 4rem;
}

.bg-filter{
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: brightness(75%);
  backdrop-filter: brightness(75%);
}

.footer{
  background-color: rgb(19, 19, 94);
  color: $secondary-text;
  h3{
    font-size: $font-s;
  }
  .container{
    max-width: 60rem;
  }
  .button-white{
    max-width: 20rem;
    margin: auto;
    color: $secondary-text;
    background-color: rgb(19, 19, 94);
    border: 0.2rem solid $secondary-text;
  }
  .footer-cards{
    svg{
      height: 4rem;
      width: 4rem;
    }
  }
}

.footer-container{
  gap: 6rem;
}

@media (max-width: $width-mob) {
  html {
    font-size: 2.9vw;
  }
  .aboutme-cards
  {
    flex-direction: column;
    gap: 2rem;
    svg{
      width: 6rem;
      height: 6rem;
    }
  }
  h2.info-section-text{
    font-size: $font-l;
  }
  .tab-grid {
    grid-template-areas: 
    "area1 area2"
    "area3 area4"
    "area5 area6";
    gap: 2rem 2rem;
    width: 100%;
    img {
     width: 20rem;
  }
    // div {
    //   width: 31.5rem;
    // }
  }
  .tabs{ 
    align-items: center;
    flex-direction: column;
  }
  .skill-cards{
    flex-direction: column;
  }
  .credentials{
    flex-direction: column;
  }
  .footer-cards{
    flex-direction: column;
    gap: 4rem;
  }
  .banner-section {

    h1 {
      font-size: $font-l;
      transform: none;
      text-align: left;
    }
  }
  .banner-title-name{
    font-size: $font-l;
  }
  
  .banner-title-surname{
    font-size: $font-l;
  }
  .banner-section-container{
    padding: 20rem 0 25rem;
  }
  .social{
    flex-direction: row;
    position: static;
    width: 10rem;
    transform: none;
  }
  .banner-section-container{
    position: static;
  }
  .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 73%;
    margin: 0 auto;
  }
}